body {
    background-color: #007bff;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    position: relative;
}

.logo-van {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -160%);
    width: 120px;
    height: auto;
    z-index: 10;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 0;
}

h2 {
    font-size: 2.5em;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.form-container {
    background-color: #fff;
    color: #6e6767;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.input-com-icone {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
}

.input-com-icone input {
    flex-grow: 1;
    border: none;
    padding: 12px 0;
    outline: none;
    font-size: 16px;
    color: #555;
}

.input-com-icone i {
    color: #888;
    margin-right: 10px;
    font-size: 18px;
}

.checkbox-container {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.links-adicionais {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    gap: 15px;
}

.links-adicionais a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.links-adicionais a:hover {
    text-decoration: underline;
}